@media (min-width: 720px) and (max-width: 1024px) {
  .col-md {
    width: auto;
  }

  .col-md-1 {
    flex: 1 1 8%;
  }

  .col-md-2 {
    flex: 1 1 17%;
  }

  .col-md-3 {
    flex: 1 1 25%;
  }

  .col-md-4 {
    flex: 1 1 33%;
  }

  .col-md-5 {
    flex: 1 1 42%;
  }

  .col-md-6 {
    flex: 1 1 50%;
  }

  .col-md-7 {
    flex: 1 1 58%;
  }

  .col-md-8 {
    flex: 1 1 67%;
  }

  .col-md-9 {
    flex: 1 1 75%;
  }

  .col-md-10 {
    flex: 1 1 83%;
  }

  .col-md-11 {
    flex: 1 1 92%;
  }

  .col-md-12 {
    flex: 1 1 100%;
  }
}
