@import "_medium_screen.scss";
@import "_small_screen.scss";

// General Classes

body {
  background-color: red;
}

.bg-dark {
  background-color: #343a40;
}

.white-text {
  color: white;
}

.container {
  width: 1110px;
  margin: auto;
  background-color: white;
}

.nav {
  padding: 0;
  margin: 0;
  width: 100%;
}

.float-right {
  float: right;
}

.float-left {
  float: left;
}

.no-border {
  border: none;
}

// Custom Classes
.siteName {
  display: inline;
  font-weight: bold;
}

.navbar {
  height: 40px;
}

.left-div {
  margin-left: 10%;
  padding-top: 0.5%;
}

.text-center {
  text-align: center;
}

main {
  height: 60vh;
}

center {
  margin: 0 0;
}

.btn-primary {
  text-decoration: none;
  color: white;
  background-color: #007bff;
  padding: 10px 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-primary:hover {
  background-color: #0069d9;
  border-color: #0062cc;
  color: white;
}

.btn-secondary {
  text-decoration: none;
  color: white;
  background-color: #6c757d;
  padding: 10px 5px;
  border-radius: 3px;
  font-family: Arial, Helvetica, sans-serif;
}

.btn-secondary:hover {
  background-color: #5a6268;
  border-color: #545b62;
  color: white;
}
